/* Secciones del sitio */

.home{
	background: #FFFFFF url("../assets/bg.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	text-align: center;
	color: #FFFFFF;
	padding-top: 15%;
	padding-bottom: 18%;
	box-sizing: border-box; /*como queremos que se comporte el tamaño de nuestro contenedor*/
}

.full-height{
	height: 100%;
}