
@import '../fonts/fonts.min.css';
@import '../fonts/spartan/stylesheet.css';

@import url('https://fonts.googleapis.com/css?family=Montserrat');
 @import url('https://fonts.googleapis.com/css?family=Great+Vibes');


body{
	color: #fdfbfb;
	/*padding: 0;
	margin: 0;	*/
}
header {
	height: 100vh;
}
section { 
	height: 100vh; 
}

#home nav{
	display: none !important;
}

#projects{
	background-color: #fdfbfb;
	background: rgb(8,5,16);
}

#skills{
	background-color: #008CBA;
	background: rgb(8,5,16);
}

#contact{
	background-color: #fdfbfb;
	background: rgb(8,5,16);
}

#resume{
	background-color: #008CBA;
	background: rgb(8,5,16);
}

/* GIF space: height: 300px; width: 1366 #008CBA */
.animation{
	height: 250px; 
	width: 100%;
}

.animation-img{
	align-content: center;
}

h1{ /* Name */
	font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-size: 78px;
	font-weight: 400;
	text-align: center;
	margin-top: 0;
	padding-top: 0;
}

h2{ /* Degree */
	font: 16px/1.9 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-size: 18px;
	line-height: 0.5;
	text-align: right;
	text-align: center;
}

h3{
	font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-family: 'Montserrat', sans-serif;
	color: #008CBA;
	padding-left: 70px;
	font-size: 35px;
}

h4{ /* Project name  */ 
	font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color: #b1992c;
	margin-top: 0px;
}

h6{ /* Project description */ 
	font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-size: 16px;
	text-align: justify;
}

.project_link{
	color: #008CBA;
	font-size: 18px;
}

h5{ /* Skill title */ 
	font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
	color: #008CBA;
}



.row{
	margin-left: 0px;
	margin-right: 0px;
}

.skills-ul{
	font: 18px/1.3 "Proxima Nova",Helvetica,Arial,sans-serif;
	color: #fdfbfb;
	list-style: none;
}


.contactme{
    font-family: 'Great Vibes', cursive;
    color: #b1992c;
    text-align: center;
    padding-left: 0px;
    padding-top: 140px;
}
/*
Ultraviolet
*/ 

* {
	margin: 0; 
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font: 16px/1.4 'Lato', sans-serif;
	color: #fefeff;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
body {
	background: rgb(8,5,16);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
} 

#canvas {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: none;
	z-index: -999;
} 

#canvas2 {
	position: relative;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: none;
	z-index: -999;
} 

#stats { 
	position: absolute; 
	z-index: 10; 
	left: 10px; 
	top: 10px; 
}
.dg.ac {
	z-index: 100 !important;
}

/* 
ultraviolet
*/

.footer{
	color: #fdfbfb;
	width: 100%;
	padding: 0.3% 0;
	display: block;
	background-color: transparent;
	border-top: 2px solid #676767;
}

.inner-container{
	width: 100%;
	position: relative;
	font-family: LibreBaskerville-Regular,Palatino Linotype,Times New Roman,serif;
	line-height: 1;
	text-align: center !important;
}

.footer-links{
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.footer-links li{
	display: inline-block;
	margin-right: 60px;
}

.footer-links a{ /* Social networks */
	display: block;
	padding: 15px 0;
	font-family: League Spartan,Helvetica,Arial,sans-serif;
	position: relative;
	transition: color .3s ease;
	text-decoration: none;
	background-color: transparent;
	font-size: 20px;
	color: #fdfbfb;
}

.footer-copy{ /* Contact and page year */
	width: 100%;
	text-align: center;
	font-size: 13px;
	color: #fdfbfb;
	font-family: "Proxima Nova",Helvetica,Arial,sans-serif;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: -20px;
}

.col{
	width: 19%;
	display: inline-block;
	margin: 0px;
	padding: 0px 0px 0px 14px;
}

/* Until here are those rules for the landing page  */
.container{
	width: 85%;
	padding-top: 25vh;
}

.no-landing-footer{
	padding-bottom: 20px;
}

#trailer .modal-dialog { /* Pop up size  */ 
    margin-top: 200px;
    margin-bottom: 200px;
    width: 70%;

}

.hanging-close { /* The close button */ 
	position: absolute;
	top: -12px;
	right: -12px;
	z-index: 9001;
}

.movie-tile { /* Shadow when the mouse is on the project */
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

.movie-tile:hover { /* Pointer when mouse is on the project */
	background-color: #000000;
    cursor: pointer;
}

.scale-media { /* Pop up when project is selected */
    padding-bottom: 5%;
    position: relative;
    background-color: white;
    color: #676767;
}

a{
	text-decoration: none;
	color: #008CBA;
}

a:focus {
	outline:0px;
}

.link{ 
	/* Class to identify */
}

.cleanlink{ /* Clean the name on the projects page */ 
	text-decoration: none;
	color: #676767;;
}

.cleanlink:hover{
	text-decoration: none;
	color: #676767;
}

.popuplink{ /* Fork in GitHub */
	font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-size: 20px;
	color:#008CBA;
	text-align: center;
	position: relative;
	float: left;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	text-decoration: none;
}

.popuplink:hover{
	text-decoration: none;
}

p a:hover{
	text-decoration: none;
}

.size{ /* Project size */ 
	height: 250px;
}

.project-img{ /* Project GIF */
	width: 430px;
	height:250px;
}

*/


p{ /* Technical description of the project */
	padding-left: 35px; 
	padding-right: 35px;
	font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-size: 17px;
	text-align: justify;
}

li p{ /* List in the technical descriptions */ 
	padding-left: 0;
	text-align: justify;
}

p a{ /* Links in the technical descriptions */
	font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-size: 17px;
	color:#008CBA;
	text-decoration: none;
}

div video{ /* Video in technical descriptions */
	/*width: 80% !important;*/
	/*height: auto !important;*/
	width: 450px;
	height: 250px;
	border: 0;
}

/* Especial cases  */ 
.color-nol{
	color: #676767 !important;

}
.project-popup-title{
	/*line-height: 0px;*/
}

.popup-list{
	padding-left: 50px;
}

.keypoints-img{
}

.facialrecognition-img{
}

.translator-result-img{
}

.aco-performance-img{
}

.aco-comparission-img{
}

.bikeshare-img{
	width: auto;
	height: auto;
}

.planner-img{
	width: auto;
	height: auto;
}

.planner{
	height: 350px;
}

.scripts-img{
	width: auto;
	height: auto;
}

.isolation-img{
	width: auto;
	height: auto;
}

.sudoku-img{
	height: 350px;
}

.sudoku-vid{
	width: 50% !important;
}

.classification-img{
	width: auto;
	height: auto;
}

.translation-img{
	width: auto;
	height: auto;
}
/** *************************************************************************************************** **/
@media (max-width:374px) {

	/* Landing page */

	.animation{
		height: 340px; 
	}

	h1{
		font-size: 30px;
	}

	h2{
		font-size: 13px;
		line-height: 1.2;
		padding-bottom: 0px;
	}

	button{
		width: 55%;
		font: 13px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
		margin-top: 26px;
	}

	.footer{
		border-top: 1px solid #676767;
	}

	.footer-links a{
		font-size: 12px;
	}

	.col{
		width: 17%;
		display: inline-block;
		margin: 0px 5px 0px 0px;
		padding: 0px 0px 0px 8px;
	}

	.footer-copy{
		font-size: 11px;
	}

	/* Projects page */
	h3{
		font-size: 18px;
	}

	h4{
		font-size: 12px;
	}

	h5{
		font-size: 13px;
	}

	.size{
		height: auto;
	}

	.project-img{
		width:320px;
		height:250px;
	}

	#trailer .modal-dialog { 
    	margin-top: 50px;
    	margin-bottom: 50px;
    	width: 94%;
	}

	p{
		font-size: 13px;
		padding-left: 10px;
		padding-right: 10px;
	}

	p a{ 
		font-size: 13px;
	}

	.popuplink{ 
		font-size: 15px;
	}

	/* Especial cases  */ 
	.project-popup-title{
		line-height: 1;
		margin-top: 20px;
	}

	.bikeshare-img{
		width: 290px;
		height: auto;
	}

	.planner-img{
		width: 285px;
		height: auto;
	}

	.planner{
		height: 140px;
	}

	.scripts-img{
		width: 280px;
		height: auto;
	}

	.isolation-img{
		width: 290px;
		height: auto;
	}

	.sudoku-img{
		height: 200px;
	}

	.sudoku-vid{
		width: 80% !important;
	}

	.classification-img{
		width: 290px;
		height: auto;
	}	

	.translation-img{
		width: 280px;
		height: auto;
	}

	.keypoints-img{
		width: 95%;	
	}

	.facialrecognition-img{
		width: 95%;
	}

	.translator-result-img{
		width: 95%;
	}

	.aco-performance-img{
		width: 100%;
	}

	.aco-comparission-img{
		width: 95%;
	}

	.aco-outexample-img{
		width: 95%;
	}

	.popup-list{
		padding-left: 25px;
	}
}

/** *************************************************************************************************** **/
@media (min-width: 375px) and (max-width:424px) {
	/* Landing page */

	h1{
		font-size: 35px;
	}

	h2{
		font-size: 14px;
		line-height: 1.2;
		padding-bottom: 0px;
	}

	button{
		width: 55%;
		font: 13px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
		margin-top: 26px;
	}

	.footer{
		border-top: 1px solid #676767;
	}

	.footer-links li{
		margin-right: 10px;
	}

	.footer-links a{
		font-size: 11px;
	}

	.footer-copy{
		font-size: 0.8em;
	}

	.col{
		width: 19%;
		display: inline-block;
		margin: 0px;
		padding: 0px 0px 0px 14px;
	}

	/* Projects page */
	h3{
		font-size: 18px;
	}

	h4{
		font-size: 12px;
	}

	h5{
		font-size: 13px;
	}

	.size{
		height: auto;
	}

	.project-img{
		width:370px;
		height:250px;
	}

	#trailer .modal-dialog { 
    	margin-top: 50px;
    	margin-bottom: 50px;
    	width: 94%;
	}

	p{
		font-size: 13px;
		padding-left: 10px;
		padding-right: 10px;
	}

	p a{ 
		font-size: 13px;
	}

	.popuplink{ 
		font-size: 15px;
	}

	/* Especial cases  */ 
	.project-popup-title{
		line-height: 1;
		margin-top: 20px;
	}

	.bikeshare-img{
		width: 340px;
		height: auto;
	}

	.planner-img{
		width: 340px;
		height: auto;
	}

	.planner{
		height: 150px;
	}

	.scripts-img{
		width: 330px;
		height: auto;
	}

	.isolation-img{
		width: 320px;
		height: auto;
	}

	.sudoku-img{
		height: 240px;
	}

	.sudoku-vid{
		width: 90% !important;
	}

	.classification-img{
		width: 330px;
		height: auto;
	}	

	.translation-img{
		width: 330px;
		height: auto;
	}

	.keypoints-img{
		width: 90%;
	}

	.facialrecognition-img{
		width: 75%;
	}

	.translator-result-img{
		width: 95%;
	}

	.aco-performance-img{
		width: 100%;
	}

	.aco-comparission-img{
		width: 75%;
	}

	.aco-outexample-img{
		width: 95%;
	}

	.popup-list{
		padding-left: 25px;
	}
}

/** *************************************************************************************************** **/
@media (min-width: 425px) and (max-width:767px) { /* TABLET */
	/* Landing page */
	h1{
		font-size: 40px;
	}

	h2{
		font-size: 15px;
		line-height: 1.2;
		padding-bottom: 0px;
	}

	button{
		width: 55%;
		font: 15px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
		margin-top: 26px;
	}

	.footer{
		border-top: 1px solid #676767;
	}

	.footer-links li{
		margin-right: 17px;
	}

	.footer-links a{
		font-size: 14px;
	}

	.footer-copy{
		font-size: 12px;
	}

	.animation{
		height: 550px; 
	}

	.col{
		width: 19%;
		display: inline-block;
		margin: 0px;
		padding: 0px 0px 0px 14px;
	}

	/* Projects page */
	h3{
		font-size: 20px;
	}

	h4{
		font-size: 13px;
	}

	h5{
		font-size: 15px;
	}

	.size{
		height: auto;
	}

	.project-img{
		width:370px;
		height:250px;
	}

	#trailer .modal-dialog { 
    	margin-top: 50px;
    	margin-bottom: 50px;
    	width: 95%;
	}

	p{
		font-size: 13px;
		padding-left: 10px;
		padding-right: 10px;
	}

	p a{ 
		font-size: 13px;
	}

	.popuplink{ 
		font-size: 15px;
	}

	/* Especial cases  */ 
	.project-popup-title{
		line-height: 1;
		margin-top: 20px;
	}

	.bikeshare-img{
		width: 390px;
		height: auto;
	}

	.planner-img{
		width: 380px;
		height: auto;
	}

	.planner{
		height: 160px;
	}

	.scripts-img{
		width: 390px;
		height: auto;
	}

	.isolation-img{ 
		width: 340px;
		height: auto;
	}

	.sudoku-img{
		height: 270px;
	}

	.sudoku-vid{
		width: 90% !important;
	}

	.classification-img{
		width: 350px;
		height: auto;
	}	

	.translation-img{
		width: 380px;
		height: auto;
	}

	.keypoints-img{
		width: 90%;
	}

	.facialrecognition-img{
		width: 75%;
	}

	.translator-result-img{
		width: 95%;
	}

	.aco-performance-img{
		width: 100%;
	}

	.aco-comparission-img{
		width: 70%;
	}

	.aco-outexample-img{
		width: 95%;
	}

	.popup-list{
		padding-left: 25px;
	}
}

/** *************************************************************************************************** **/
@media (min-width: 768px) and (max-width:1023px) {
	/* Landing page */

	h1{
		font-size: 45px;
	}

	h2{
		font-size: 18px;
	}

	button{
		width: 40%;
		font: 17px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
		margin-top: 36px;
	}

	.footer{
		border-top: 1px solid #676767;
	}

	.footer-links a{
		font-size: 14px;
	}

	.footer-copy{
		font-size: 12px;
	}

	.animation{
		height: 550px; 
	}

	.col{
		width: 19%;
		display: inline-block;
		margin: 0px;
		padding: 0px 0px 0px 14px;
	}


	/* Projects page */
	h3{
		font-size: 20px;
	}

	h4{
		font-size: 13px;
		margin-left: 15%;
		margin-right: 15%;
	}

	h5{
		font-size: 15px;
	}

	.size{
		height: auto;
	}

	.project-img{
		width:370px;
		height:250px;
	}

	#trailer .modal-dialog { 
    	margin-top: 50px;
    	margin-bottom: 50px;
    	width: 90%;
	}

	p{
		font-size: 15px;
		padding-left: 10px;
		padding-right: 10px;
	}

	p a{ 
		font-size: 15px;
	}

	.popuplink{ 
		font-size: 18px;
	}

	/* Especial cases  */ 
	.project-popup-title{
		line-height: 1;
		margin-top: 20px;
	}

	.bikeshare-img{
		width: 95%;
		height: auto;
	}

	.planner-img{
		width: 480px;
		height: auto;
	}

	.planner{
		height: 190px;
	}

	.scripts-img{
		width: 670px;
		height: auto;
	}

	.sudoku-vid{
		width: 60% !important;
	}

	.facialrecognition-img{
		width: 50%;
	}

	.keypoints-img{
		width: 90%;
	}

	.translator-result-img{
		width: 95%;
	}

	.aco-performance-img{
		width: 100%;
	}

	.aco-comparission-img{
		width: 50%;
	}

	.aco-outexample-img{
		width: 95%;
	}

	.popup-list{
		padding-left: 25px;
	}
}

/** *************************************************************************************************** **/
@media (min-width: 1024px) {
	/* Is the same as the default style */
}