@import url('reset.css');

@import url('grid.css');
@import url('slider.css');


@import url('sections.css');
@import url('figures.css');
@import url('fonts.css');
@import url('Layout.css');


html, body{
	color: #282828;
	/*Utiliza el 100% del espacio que tengo disponible en el navegador*/
	height: 100%;
	font-family: 'Montserrat',sans-serif;
}