
@import '../fonts/fonts.min.css';
@import '../fonts/spartan/stylesheet.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css?family=Great+Vibes');


body{
	color: #fdfbfb;
}

header {
	height: 100vh;
}

section { 
	height: 100vh; 
	background: rgb(8,5,16);
}

#home nav{
	display: none !important;
}

.animation{
	height: 250px; 
	width: 100%;
}

.animation img{
	height: 90px;
	width: auto;
}

h1{ /* Name */
	font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	font-weight: 400;
	text-align: center;
	margin-top: 0;
	padding-top: 0;
}

h2{ /* Degree */
	font: 16px/1.9 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 0.5;
	text-align: right;
	text-align: center;
}

h3{
	font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-family: 'Montserrat', sans-serif;
	color: #008CBA;
	padding-left: 70px;
	font-size: 35px;
}

h4{ /* Project name  */ 
	font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color: #008CBA;
	margin-top: 0px;
	padding-left: 35px;
}

h5{ /* Skill title */ 
	font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #008CBA;
}

h6{ /* Project description */ 
	font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-size: 13px;
	text-align: justify;
}

.project_link{
	background-color: #008CBA;
	color: #008CBA;
	font-size: 12px;
	border-radius: 10%;
	border: 1px solid #b1992c; 
	padding: 2px 2px; 
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}

.skills-ul{
	font: 15px/1.3 "Proxima Nova",Helvetica,Arial,sans-serif;
	color: #fdfbfb;
	list-style: none;
}

.contactme{
    font-family: 'Great Vibes', cursive;
    color: #b1992c;
    text-align: center;
    padding-left: 0px;
    padding-top: 140px;
}
/*
Ultraviolet
*/ 

* {
	margin: 0; 
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font: 16px/1.4 'Lato', sans-serif;
	color: #fefeff;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
body {
	background: rgb(8,5,16);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
} 

#canvas {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: none;
	z-index: -999;
} 

#stats { 
	position: absolute; 
	z-index: 10; 
	left: 10px; 
	top: 10px; 
}

.dg.ac {
	z-index: 100 !important;
}

/* 
ultraviolet
*/

.footer{
	color: #fdfbfb;
	width: 100%;
	padding: 0.3% 0;
	display: block;
	background-color: transparent;
	border-top: 2px solid #676767;
	bottom: 0;
	margin-top: 100px;
}

.inner-container{
	width: 100%;
	position: relative;
	font-family: LibreBaskerville-Regular,Palatino Linotype,Times New Roman,serif;
	line-height: 1;
	text-align: center !important;
}

.footer-links{
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.footer-links li{
	display: inline-block;
	margin-right: 60px;
}

.footer-links a{ /* Social networks */
	display: block;
	padding: 15px 0;
	font-family: League Spartan,Helvetica,Arial,sans-serif;
	position: relative;
	transition: color .3s ease;
	text-decoration: none;
	background-color: transparent;
	font-size: 20px;
	color: #fdfbfb;
}

.footer-copy{ /* Contact and page year */
	width: 100%;
	text-align: center;
	font-size: 13px;
	color: #fdfbfb;
	font-family: "Proxima Nova",Helvetica,Arial,sans-serif;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 15px;
}

.col{
	width: 19%;
	display: inline-block;
	margin: 0px;
	padding: 0px 0px 0px 14px;
}



.container{
	width: 85%;
	padding-top: 25vh;
}

.no-landing-footer{
	padding-bottom: 20px;
}

.main-nav ul li a.icon{
	display: none;
}

a{
	text-decoration: none;
	color: #008CBA;
}

a:focus {
	outline:0px;
}


p a:hover{
	text-decoration: none;
}

.size{ /* Project size */ 
	height: 250px;
}

.project-img{ /* Project GIF */
	width: 430px;
	height:250px;
}


p{ /* Technical description of the project */
	padding-left: 35px; 
	padding-right: 0px;
	font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-size: 14px;
	text-align: justify;
}

li p{ /* List in the technical descriptions */ 
	padding-left: 0;
	text-align: justify;
}

p a{ /* Links in the technical descriptions */
	font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-size: 16px;
	color:#008CBA !important;
	text-decoration: none;
}

div video{ /* Video in technical descriptions */
	width: 380px;
	height: 215px;
	border-radius: 5%;;
	border: 1px solid #b1992c;
	opacity: 1;
	outline: none;
}

.popover-title{
	background: #fdfbfb;
}

.popover-content{
	background: rgb(8,5,16);
	color:#fdfbfb;
	font: 16px/1.3 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-size: 14px;
	text-align: justify;
}

.video-pad{
	padding-right: 35px;
}

.p-more{
	text-align: center;
	font-size: 16px;
}

.logo {
      float: left;
      height: 50px;
      width: auto;
      position: relative;
    }

    .name{
      font: 16px "Proxima Nova",Helvetica,Arial,sans-serif;
      font-family: 'Montserrat', sans-serif;
      float: left;
      font-size: 20px;
      padding-top: 15px;
      padding-left: 0px;
    }

    .row-carrusel{
      margin-left: 100px;
      margin-right: 100px;
      padding-top: 90px;
    }

    nav ul {
      float: right;
      padding-top: 15px;
    }

    nav ul li a{
      font-size: 16px;
    }

    .img-cont {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 500px;
      height: 500px;
      margin-top: -250px; /* Half the height */
      margin-left: -250px; /* Half the width */
    }


.carouselwrap {
  position:relative;
  width:100%;
  /* max-width:960px; */
  overflow:hidden;
  margin:0 auto;
}

.carousel {
  position:relative;
  overflow:hidden;
  white-space:nowrap;
   font-size: 0;
}

.carousel .item {
  display:inline-block;
  text-align:center;
  margin:0;
  padding:0;
  overflow:hidden;
  vertical-align:top;
}

.carousel .item img, video {
  opacity:.1;
  /* max-height:350px; */
}

.carousel .item .mainimg{
  opacity:1;
  width: 550px;
  height: 300px;
  margin-bottom: 30px;
}

.ic_title {
  width:80%;
  background: rgb(8,5,16);
  text-align:center;
  margin: 0 auto;
}

.back_btn {
  padding:20px;
  position:absolute;
  left:10px;
  z-index:50000000;
  top:40%;
  cursor:pointer
}

.next_btn {
  padding:20px;
  position:absolute;
  right:10px;
  z-index:50000000;
  top:40%;
  cursor:pointer
}

.no_select {
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
  background-color: transparent;
}

.item img{
  width: 450px;
  height: 250px;
}

.project-button{
	width: 50px;
	height: 70px;
}

.poly{
	stroke: #FFFFFF;
	stroke-width: 1;
}

.skill-row{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.text-center img{
	width: auto;
	height: 100px;
}

nav ul{
	padding-right: 0px;
}

.main-nav{
	padding-right: 0px;
}
/** *************************************************************************************************** **/
@media (max-width:374px) {

	/* Landing page */
	.animation{
		height: 150px; 
	}

	.animation img{
		height: 70px;
	}

	h1{
		font-size: 30px;
	}

	h2{
		font-size: 14px;
		line-height: 1;
	}

/* Navigation */
.main-nav{
	padding: 0px 20px 0px 0px;
}

.main-nav ul li a{
	display: none;
}

.main-nav ul li a.icon{
	float: right;
	display: block;
}

nav ul{
	padding: 7px 0px 0px 0px;
}

nav ul li{
	margin: 0px;
}

.main-nav.responsive {
	position: relative;
}

.main-nav.responsive .icon {
	position: absolute;
    right: 0;
    top: 0;
 }

 .main-nav.responsive a {
 	float: none;
    display: block;
    text-align: left;
  }

.name{
	font-size: 15px;
}

	/* Projects */

	.back_btn{
		padding: 0px;
		left: 0px;
		top: 7%;
	}

	.next_btn{
		padding: 0px;
		right: 0px;
		top: 7%;
	}

	.row-carrusel{
		margin: 20px 5px 0px 5px;
		padding-top: 0px;
	}

	.carousel{
		margin-bottom: -60px;
	}

	.carousel .item .mainimg{
	  height: 160px;
	  width: 450px;
	  margin-bottom: 30px;
	}

	.ic_title{
		width: 90%;
	}

	h4{
		font-size: 19px;
	}

	h6{
		font-size: 12px;
	}

	.ic_title a{
		font-size: 12px;
	}

	.project-button{
		width: 30px;
		height: 50px;
	}

	.poly{
		stroke: rgb(8,5,16);
		stroke-width: 3;
	}

	/* Skills */ 

	.skill-row{
		top: 60%;
	}

	.text-center img{
		width: auto;
		height: 60px;
	}

	h5{
		font-size: 12px;
	}

	.skills-ul{
		font-size: 12px;
	}

	ul{
		margin-bottom: 10px;
	}

	/* Contact */
	.contactme{
		padding-top: 250px;
	}

	h3{
		font-size: 20px;
	}

	.footer{
		margin-top: 70px;
	}

	.footer-links li{
		margin-right: 11px;
	}

	.footer-links a{
		font-size: 12px;
	}

	.footer-copy{
		font-size: 10px;
	}

}

/** *************************************************************************************************** **/
@media (min-width: 375px) and (max-width:424px) {

	/* Landing page */
	.animation{
		height: 150px; 
	}

	.animation img{
		height: 70px;
	}

	h1{
		font-size: 30px;
	}

	h2{
		font-size: 14px;
		line-height: 1;
	}

/* Navigation */
.main-nav{
	padding: 0px 20px 0px 0px;
}

.main-nav ul li a{
	display: none;
}

.main-nav ul li a.icon{
	float: right;
	display: block;
}

nav ul{
	padding: 7px 0px 0px 0px;
}

nav ul li{
	margin: 0px;
}

.main-nav ul li .responsive {
	position: relative;
}

.main-nav ul li .responsive a.icon {
	position: absolute;
	right: 0;
    top: 0;
 }

.main-nav ul li .responsive a {
 	float: none;
 	display: block;
 	text-align: center;
 }

.name{
	font-size: 15px;
}

	/* Projects */

	.back_btn{
		padding: 0px;
		left: 0px;
		top: 11%;
	}

	.next_btn{
		padding: 0px;
		right: 0px;
		top: 11%;
	}

	.row-carrusel{
		margin: 20px 5px 0px 5px;
		padding-top: 0px;
	}

	.carousel{
		margin-bottom: -60px;
	}

	.carousel .item .mainimg{
	  height: 160px;
	  width: 450px;
	  margin-bottom: 30px;
	}

	.ic_title{
		width: 90%;
	}

	h4{
		font-size: 19px;
	}

	h6{
		font-size: 12px;
	}

	.ic_title a{
		font-size: 12px;
	}

	.project-button{
		width: 30px;
		height: 50px;
	}

	.poly{
		stroke: rgb(8,5,16);
		stroke-width: 3;
	}

	/* Skills */ 

	.skill-row{
		top: 60%;
	}

	.text-center img{
		width: auto;
		height: 60px;
	}

	h5{
		font-size: 12px;
	}

	.skills-ul{
		font-size: 12px;
	}

	ul{
		margin-bottom: 10px;
	}

	/* Contact */
	.contactme{
		padding-top: 150px;
	}

	h3{
		font-size: 20px;
	}

	.footer{
		margin-top: 70px;
	}

	.footer-links li{
		margin-right: 11px;
	}

	.footer-links a{
		font-size: 12px;
	}

	.footer-copy{
		font-size: 10px;
	}

}

/** *************************************************************************************************** **/
@media (min-width: 425px) and (max-width:767px) { /* TABLET */
	/* Landing page */
	.animation{
		height: 150px; 
	}

	.animation img{
		height: 70px;
	}

	h1{
		font-size: 40px;
	}

	h2{
		font-size: 15px;
		line-height: 1;
	}

/* Navigation */
.main-nav{
	padding: 0px 20px 0px 0px;
}

.main-nav ul li a{
	display: none;
}

.main-nav ul li a.icon{
	float: right;
	display: block;
}

nav ul{
	padding: 7px 0px 0px 0px;
}

nav ul li{
	margin: 0px;
}

.main-nav ul li .responsive {
	position: relative;
}

.main-nav ul li .responsive a.icon {
	position: absolute;
	right: 0;
    top: 0;
 }

.main-nav ul li .responsive a {
 	float: none;
 	display: block;
 	text-align: center;
 }

.name{
	font-size: 15px;
}

	/* Projects */

	.back_btn{
		padding: 0px;
		left: 0px;
		top: 13%;
	}

	.next_btn{
		padding: 0px;
		right: 0px;
		top: 13%;
	}

	.row-carrusel{
		margin: 20px 5px 0px 5px;
		padding-top: 0px;
	}

	.carousel{
		margin-bottom: -60px;
	}

	.carousel .item .mainimg{
	  height: 160px;
	  width: 450px;
	  margin-bottom: 30px;
	}

	.ic_title{
		width: 90%;
	}

	h4{
		font-size: 19px;
	}

	h6{
		font-size: 12px;
	}

	.ic_title a{
		font-size: 12px;
	}

	.project-button{
		width: 30px;
		height: 50px;
	}

	.poly{
		stroke: rgb(8,5,16);
		stroke-width: 3;
	}

	/* Skills */ 

	.skill-row{
		top: 50%;
	}

	.text-center img{
		width: auto;
		height: 60px;
	}

	h5{
		font-size: 12px;
	}

	.skills-ul{
		font-size: 12px;
	}

	ul{
		margin-bottom: 10px;
	}

	/* Contact */
	.contactme{
		padding-top: 150px;
	}

	h3{
		font-size: 20px;
	}

	.footer{
		margin-top: 70px;
	}

	.footer-links li{
		margin-right: 11px;
	}

	.footer-links a{
		font-size: 12px;
	}

	.footer-copy{
		font-size: 10px;
	}
}

/** *************************************************************************************************** **/
@media (min-width: 768px) and (max-width:1023px) {
	.animation{
		height: 150px;
	}

	nav ul{
		padding-right: 0px;
	}

	.main-nav{
		padding-right: 0px;
	}

	.ic_title{
		width: 95%;
	}

	.skill-row{
		top: 90%;
	}

	h3{
		font-size: 25px;
	}

	.footer{
		margin-top: 50px;
	}

	.contactme{
		padding-top: 350px;
	}

}

/** *************************************************************************************************** **/
@media (min-width: 1024px) {
	/* Is the same as the default style */
}